<template>
  <div>
    <q-page padding>
      <q-table
        row-key="symbol"
        title="Assets"
        v-bind:binary-state-sort="true"
        v-bind:columns="columns"
        v-bind:data="summary__.assets"
        v-bind:dense="true"
        v-bind:filter="filter"
        v-bind:pagination.sync="pagination"
        v-bind:rows-per-page-options="[10, 15, 20, 50, 100, 0]"
        v-bind:sort-method="sortMethod"
        v-bind:visible-columns="visibleColumns">

        <template v-slot:top-right="{}">
          <q-input
            debounce="300"
            dense
            placeholder="Search"
            v-model="filter">
            <template v-slot:append>
              <q-icon name="fas fa-search" />
            </template>
          </q-input>
        </template>

        <template v-slot:body="props">
          <q-tr v-bind:props="props">
            <q-td key="quantity" v-bind:props="props">
              {{ props.row.quantity }}
            </q-td>

            <q-td key="symbol" v-bind:props="props">
              {{ props.row.symbol }}
            </q-td>

            <q-td key="currentMarketPrice" v-bind:props="props">
              {{ props.row.currentMarketPrice }} {{ transactionsExtended__[0].baseCurrency }}
            </q-td>

            <q-td key="averageExchangePrice" v-bind:props="props">
              {{ props.row.averageExchangePrice === "?"
                 ? "-"
                 : props.row.averageExchangePrice + " " + transactionsExtended__[0].baseCurrency}}
            </q-td>

            <q-td key="flow" v-bind:props="props">
              {{ props.row.flow }} {{ transactionsExtended__[0].baseCurrency }}
            </q-td>

            <q-td class='bg-grey-2' key="valuation" v-bind:props="props">
              {{ props.row.valuation }} {{ transactionsExtended__[0].baseCurrency }}
            </q-td>

            <q-td class='bg-grey-2' key="net" v-bind:props="props">
              {{ props.row.net }} {{ transactionsExtended__[0].baseCurrency }}
            </q-td>

            <q-td class='bg-grey-2' key="irr" v-bind:props="props">
              {{ appendPctIfNumber(props.row.irr) }}
            </q-td>
          </q-tr>
        </template>

        <template v-slot:bottom-row>
          <q-tr class="bg-grey-2">
            <q-td align="center" colspan="4">
              Total
            </q-td>

            <q-td align="right">
              {{ bottomRow('flow') }}
            </q-td>

            <q-td align="right" class="bg-grey-4">
              {{ bottomRow('valuation') }}
            </q-td>

            <q-td align="right" class="bg-grey-4">
              {{ bottomRow('net') }}
            </q-td>

            <q-td align="right" class="bg-grey-4">
              {{ bottomRow('irr') }}
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </q-page>
  </div>
</template>

<script>
import compare from '../../core/compare'
import glyphs from '../../core/glyphs'

export default {
  data: function () {
    return {
      columns: [
        {
          align: 'right',
          field: 'quantity',
          label: 'Quantity', // 'Total owned quantity from the asset'
          name: 'quantity',
          sortable: true
        },
        {
          align: 'center',
          field: 'symbol',
          label: `Symbol`, // 'Asset symbol'
          name: 'symbol',
          sortable: true
        },
        {
          align: 'right',
          field: 'currentMarketPrice',
          label: 'Current market price', // 'Current asset price on the market (base currency)'
          name: 'currentMarketPrice',
          sortable: true
        },
        {
          align: 'right',
          field: 'averageExchangePrice',
          label: 'Average exchange price', // 'Average exchange price (base currency)'
          name: 'averageExchangePrice',
          sortable: true
        },
        {
          align: 'right',
          field: 'flow',
          label: 'Flow', // 'Total cashflow into the asset (base currency)'
          name: 'flow',
          sortable: true
        },
        {
          align: 'right',
          field: 'valuation',
          label: 'Valuation', // 'Total valuation of the asset at present time (base currency)'
          name: 'valuation',
          sortable: true
        },
        {
          align: 'right',
          field: 'net',
          label: `Net`, // 'Net sum of flow and valuation (base currency)'
          name: 'net',
          sortable: true
        },
        {
          align: 'right',
          field: 'irr',
          label: `IRR`, // 'Annual Internal Rate of Return (%)'
          name: 'irr',
          sortable: true
        }
      ],

      filter: '',

      firstSort: true,

      pagination: {
        descending:
          this.tableSortGet__('assets')
            ? this.tableSortGet__('assets')[0].sort === 'desc'
            : true,
        rowsPerPage: 15,
        sortBy:
          this.tableSortGet__('assets')
            ? this.tableSortGet__('assets')[0].colId
            : 'valuation'
      },

      tableName: 'assets',

      visibleColumns: [
        'quantity',
        'symbol',
        'currentMarketPrice',
        'averageExchangePrice',
        'flow',
        'valuation',
        'net',
        'irr'
      ]
    }
  },

  methods: {
    appendPctIfNumber: function (n) {
      const last = n.slice(-1)
      const nOrig = n
      if (last === 'K' || last === 'M' || last === 'B') {
        n = n.slice(0, -1)
      }
      return nOrig + ((!isNaN(parseFloat(n)) && isFinite(n)) || n === glyphs.ApproxZero ? '%' : '')
    },

    bottomRow: function (column) {
      if (!this.summary__.footerRows) {
        return ''
      }

      switch (column) {
        case 'flow':
        case 'valuation':
        case 'net':
          return this.summary__.footerRows[0][column] + ' ' +
            this.transactionsExtended__[0].baseCurrency
        case 'irr':
          return this.appendPctIfNumber(this.summary__.footerRows[0][column])
      }
    },

    sortMethod: function (rows, sortBy, descending) {
      if (this.firstSort) {
        this.firstSort = false
      } else {
        this.tableSortSave__(
          this.tableName,
          [{ 'colId': sortBy, 'sort': descending ? 'desc' : 'asc' }]
        )
      }

      let compareFn
      switch (sortBy) {
        case 'symbol':
          compareFn = compare.strings
          break
        case 'quantity':
        case 'currentMarketPrice':
        case 'averageExchangePrice':
        case 'irr':
          compareFn = compare.formattedNumbers
          break
        case 'flow':
        case 'valuation':
        case 'net':
          compareFn = compare.formattedNumbersAbs
          break
      }

      return rows.sort((a, b) => compareFn(a[sortBy], b[sortBy]) * (descending ? -1 : 1))
    }
  },

  props: [
    'summary__',
    'tableSortGet__',
    'tableSortSave__',
    'transactionsExtended__'
  ]
}
</script>

<style>
</style>
