<template>
  <div>
    <q-page padding>
      <q-table
        row-key="symbol"
        title="Private assets, not publicly traded"
        v-bind:binary-state-sort="true"
        v-bind:columns="columns"
        v-bind:data="privateAssets__"
        v-bind:dense="true"
        v-bind:filter="filter"
        v-bind:pagination.sync="pagination"
        v-bind:rows-per-page-options="[10, 15, 20, 0]"
        v-bind:sort-method="sortMethod"
        v-bind:visible-columns="visibleColumns">

        <template v-slot:top-right="{}">
          <q-input
            debounce="300"
            dense
            placeholder="Search"
            v-model="filter">
            <template v-slot:append>
              <q-icon name="fas fa-search" />
            </template>
          </q-input>
        </template>

        <template v-slot:body="props">
          <q-tr v-bind:props="props">
            <q-td key="symbol" v-bind:props="props">
              {{ props.row.symbol }}
              <q-menu
                context-menu
                touch-position>
                <q-list dense>
                  <q-item clickable v-close-popup v-on:click="deleteRow(props.row)">
                    <q-item-section>Delete row</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-td>

            <q-td key="price" v-bind:props="props">
              <q-input
                dense
                placeholder="1000.00"
                v-bind:input-style="{ 'text-align': 'right' }"
                v-bind:rules="[ validateAssetPrice ]"
                v-bind:suffix="transactionsExtended__[0] ? transactionsExtended__[0].baseCurrency : ''"
                v-model="props.row.price"></q-input>
            </q-td>
          </q-tr>
        </template>
      </q-table>

      <div class="items-center justify-center no-wrap row">
        <div>
          <q-input
            label="new asset symbol"
            lazy-rules
            placeholder="COOL100X"
            stack-label
            v-model="newAssetSymbol"></q-input>
        </div>
        <div>
          <q-input
            label="new asset price"
            lazy-rules
            placeholder="1000.00"
            stack-label
            v-model="newAssetPrice"></q-input>
        </div>
        <div>
          <q-btn
            glossy
            label="add"
            v-on:click="addNewPrivateAsset()"></q-btn>
        </div>
      </div>
    </q-page>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      columns: [
        {
          align: 'center',
          field: 'symbol',
          label: `Symbol`, // 'Asset symbol'
          name: 'symbol',
          sortable: true
        },
        {
          align: 'center',
          field: 'price',
          label: 'Current price', // 'Current asset price on the market (base currency)'
          name: 'price',
          sortable: true
        }
      ],

      filter: '',

      firstSort: true,

      newAssetPrice: '',

      newAssetSymbol: '',

      pagination: {
        descending:
          this.tableSortGet__('private_assets')
            ? this.tableSortGet__('private_assets')[0].sort === 'desc'
            : true,
        rowsPerPage: 0,
        sortBy:
          this.tableSortGet__('private_assets')
            ? this.tableSortGet__('private_assets')[0].colId
            : 'symbol'
      },

      tableName: 'private_assets',

      visibleColumns: [
        'symbol',
        'price'
      ]
    }
  },

  methods: {
    addNewPrivateAsset: function () {
      let err = false

      if (this.validateAssetSymbol(this.newAssetSymbol) !== true) {
        this.$q.notify({
          actions: [ { label: 'OK', color: 'white' } ],
          color: 'negative',
          message: `New asset symbol is required.`,
          position: 'center',
          timeout: 0
        })
        err = true
      }

      if (this.validateAssetPrice(this.newAssetPrice) !== true) {
        this.$q.notify({
          actions: [ { label: 'OK', color: 'white' } ],
          color: 'negative',
          message: `New asset price must be non-negative number.`,
          position: 'center',
          timeout: 0
        })
        err = true
      }

      const newSymbol = this.newAssetSymbol.toUpperCase()

      if (this.privateAssets__.find(a => a.symbol === newSymbol) !== undefined) {
        this.$q.notify({
          actions: [ { label: 'OK', color: 'white' } ],
          color: 'negative',
          message: `Private asset "${this.newAssetSymbol}" has already been added.`,
          position: 'center',
          timeout: 0
        })
        err = true
      }

      if (err) {
        return
      }

      this.privateAssets__.push({ symbol: newSymbol, price: this.newAssetPrice })

      this.newAssetSymbol = ''
      this.newAssetPrice = ''
    },

    deleteRow: function (row) {
      const i = this.privateAssets__.findIndex(p => p.symbol === row.symbol)
      if (i !== -1) {
        this.privateAssets__.splice(i, 1)
      }
    },

    sortMethod: function (rows, sortBy, descending) {
      if (this.firstSort) {
        this.firstSort = false
      } else {
        this.tableSortSave__(
          this.tableName,
          [{ 'colId': sortBy, 'sort': descending ? 'desc' : 'asc' }]
        )
      }

      let sortFn
      switch (sortBy) {
        case 'symbol':
          sortFn = (a, b) => a[sortBy] < b[sortBy] ? -1 : (a[sortBy] > b[sortBy] ? 1 : 0)
          break
        case 'price':
          sortFn = (a, b) => Number(a[sortBy]) - Number(b[sortBy])
          break
      }

      return rows.sort((a, b) => sortFn(a, b) * (descending ? -1 : 1))
    },

    validateAssetPrice: function (v) {
      if (v.length > 0 && Number(v) >= 0) {
        return true
      }
      return 'must be non-negative number'
    },

    validateAssetSymbol: function (v) {
      if (v.length > 0) {
        return true
      }
      return 'required'
    }
  },

  props: [
    'privateAssets__',
    'tableSortGet__',
    'tableSortSave__',
    'transactionsExtended__'
  ]
}
</script>

<style>
</style>
