<template>
  <q-page padding>
    <div class="row justify-center">
      <q-card>
        <q-card-section>
          <div class="row no-wrap justify-center text-h6">
            I give (sell)
          </div>
          <div class="row no-wrap justify-center">
            <q-input
              debounce="1000"
              label="Quantity"
              placeholder="1000"
              type="text"
              v-model="sellQuantity" />
            <q-input
              debounce="1000"
              label="Symbol"
              placeholder="EUR"
              type="text"
              v-model="sellSymbol" />
          </div>
        </q-card-section>
      </q-card>
    </div>
    <br/>
    <div class="row justify-center">
      <q-card>
        <q-card-section>
          <div class="row no-wrap justify-center text-h6">
            I get (buy)
          </div>
          <div class="row no-wrap justify-center">
            <q-input
              debounce="1000"
              label="Quantity (optional)"
              placeholder="1000"
              type="text"
              v-model="buyQuantity" />
            <q-input
              debounce="1000"
              label="Symbol"
              placeholder="EUR"
              type="text"
              v-model="buySymbol" />
          </div>
        </q-card-section>
      </q-card>
    </div>
    <br/>
    <div class="row justify-center" v-if="marketBuyQuantity">
      <q-card>
        <q-card-section>
          <div class="row no-wrap justify-center text-h6">
            {{ sellQuantity }} {{ sellSymbol }} = {{ marketBuyQuantity }} {{ buySymbol }}
          </div>
          <div class="row no-wrap justify-center text-h6" v-if="buyQuantity">
            {{ pctDiff() }} = {{ buyQuantity }} {{ buySymbol }}
          </div>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import formatNumber from '../../core/format-number'
import { BigNumber } from '../../core/math'

export default {
  data: function () {
    return {
      buyQuantity: null,
      marketBuyQuantity: null,
      buySymbol: null,
      sellQuantity: null,
      sellSymbol: null
    }
  },

  methods: {
    calc: async function () {
      if (!this.sellQuantity || !this.sellSymbol || !this.buySymbol) {
        return
      }

      try {
        this.marketBuyQuantity = (await this.portfolio__.exchange().convert(
          this.sellQuantity,
          this.sellSymbol,
          this.buySymbol
        )).toFixed(8)
      } catch (e) {
        this.$q.notify({
          actions: [ { label: 'OK', color: 'white' } ],
          color: 'negative',
          message: e.message,
          position: 'center',
          timeout: 0
        })
        this.marketBuyQuantity = null
      }
    },

    pctDiff: function () {
      const pct = (this.buyQuantity - this.marketBuyQuantity) / this.marketBuyQuantity * 100
      const sign = pct < 0 ? '' : '+'
      return sign + formatNumber(BigNumber(pct), this.significantDigits__) + '%'
    }
  },

  watch: {
    buyQuantity: {
      handler: function (newVal, oldVal) {
        this.calc()
      }
    },
    buySymbol: {
      handler: function (newVal, oldVal) {
        this.calc()
      }
    },
    sellQuantity: {
      handler: function (newVal, oldVal) {
        this.calc()
      }
    },
    sellSymbol: {
      handler: function (newVal, oldVal) {
        this.calc()
      }
    }
  },

  props: [
    'portfolio__',
    'significantDigits__'
  ]
}
</script>
