<template>
  <q-page padding>
    <div class="q-pa-md row items-start q-gutter-md">
      <q-card class="my-card">
        <q-card-section>
          <div class="text-h6">Significant digits to show</div>
        </q-card-section>
        <q-card-section>
          {{ significantDigitsExample('678.123456789') }}
        </q-card-section>
        <q-card-section>
          {{ significantDigitsExample('123456789123456') }}
        </q-card-section>
        <q-card-section>
          {{ significantDigitsExample('0.0012345678912345') }}
        </q-card-section>
        <q-card-section>
          <q-slider
            :label-value="significantDigitsMaxDisplay()"
            :max="significantDigitsMax"
            :min="2"
            label
            label-always
            snap
            v-model="significantDigitsModel"
            />
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import formatNumber from '../../core/format-number'
import { BigNumber } from '../../core/math'

export default {
  created: function () {
    this.significantDigitsModel =
      this.significantDigits__ === Infinity
        ? this.significantDigitsMax
        : this.significantDigits__
  },

  data: function () {
    return {
      significantDigitsModel: null,
      significantDigitsMax: 11
    }
  },

  methods: {
    significantDigitsMaxDisplay: function () {
      if (this.significantDigitsModel < this.significantDigitsMax) {
        return this.significantDigitsModel + ' digits'
      }
      return 'all'
    },

    significantDigitsExample: function (nStr) {
      return nStr + ' -> ' + formatNumber(BigNumber(nStr), this.significantDigits__)
    }
  },

  props: [
    'significantDigitsSet__',
    'significantDigits__'
  ],

  watch: {
    significantDigitsModel: {
      handler: function (newVal, oldVal) {
        if (oldVal === null) {
          // first call, from inside created(), no need to save the value
          return
        }
        if (this.significantDigitsModel < this.significantDigitsMax) {
          this.significantDigitsSet__(this.significantDigitsModel)
        } else {
          this.significantDigitsSet__(Infinity)
        }
      }
    }
  }
}
</script>
