<template>
  <div>
    <q-page padding>
      <q-table
        row-key="indexInTransactions"
        title="Transactions"
        v-bind:binary-state-sort="true"
        v-bind:columns="columns"
        v-bind:data="transactionsExtended__"
        v-bind:dense="true"
        v-bind:filter="filter"
        v-bind:pagination.sync="pagination"
        v-bind:rows-per-page-options="[10, 15, 20, 50, 100, 0]"
        v-bind:sort-method="sortMethod"
        v-bind:visible-columns="visibleColumns">

        <template v-slot:top-right="{}">
          <q-input
            debounce="300"
            dense
            placeholder="Search"
            v-model="filter">
            <template v-slot:append>
              <q-icon name="fas fa-search" />
            </template>
          </q-input>
        </template>

        <template v-slot:body="props">
          <q-tr v-bind:props="props">
            <q-td key="date" v-bind:props="props">
              {{ props.row.date }}
              <q-popup-edit v-model="props.row.date">
                <q-input
                  autofocus
                  dense
                  v-model="props.row.date"
                  v-on:change="transactions__[props.row.indexInTransactions]['date'] = props.row.date" />
              </q-popup-edit>
              <q-menu
                context-menu
                touch-position>
                <q-list dense>
                  <q-item clickable v-close-popup v-on:click="deleteRow(props.row)">
                    <q-item-section>Delete row</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-td>

            <q-td key="baseAmount" v-bind:props="props">
              {{ props.row.baseAmount }} {{ props.row.baseCurrency }}
              <q-popup-edit v-model="props.row.baseAmount">
                <q-input
                  autofocus
                  dense
                  v-model="props.row.baseAmount"
                  v-on:change="transactions__[props.row.indexInTransactions]['baseAmount'] = props.row.baseAmount" />
              </q-popup-edit>
              <q-menu
                context-menu
                touch-position>
                <q-list dense>
                  <q-item clickable v-close-popup v-on:click="deleteRow(props.row)">
                    <q-item-section>Delete row</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-td>

            <q-td key="assetQuantity" v-bind:props="props">
              {{ props.row.assetQuantity }}
              <q-popup-edit v-model="props.row.assetQuantity">
                <q-input
                  autofocus
                  dense
                  v-model="props.row.assetQuantity"
                  v-on:change="transactions__[props.row.indexInTransactions]['assetQuantity'] = props.row.assetQuantity" />
              </q-popup-edit>
              <q-menu
                context-menu
                touch-position>
                <q-list dense>
                  <q-item clickable v-close-popup v-on:click="deleteRow(props.row)">
                    <q-item-section>Delete row</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-td>

            <q-td key="assetSymbol" v-bind:props="props">
              {{ props.row.assetSymbol }}
              <q-popup-edit v-model="props.row.assetSymbol">
                <q-input
                  autofocus
                  dense
                  v-model="props.row.assetSymbol"
                  v-on:change="transactions__[props.row.indexInTransactions]['assetSymbol'] = props.row.assetSymbol" />
              </q-popup-edit>
              <q-menu
                context-menu
                touch-position>
                <q-list dense>
                  <q-item clickable v-close-popup v-on:click="deleteRow(props.row)">
                    <q-item-section>Delete row</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-td>

            <q-td key="note" v-bind:props="props">
              {{ props.row.note && props.row.note.length > 30 ? props.row.note.substr(0, 30) + '...' : props.row.note }}
              <q-tooltip v-if="props.row.note && props.row.note.length > 30">{{ props.row.note }}</q-tooltip>
              <q-popup-edit v-model="props.row.note">
                <q-input
                  autofocus
                  dense
                  v-model="props.row.note"
                  v-on:change="transactions__[props.row.indexInTransactions]['note'] = props.row.note" />
              </q-popup-edit>
              <q-menu
                context-menu
                touch-position>
                <q-list dense>
                  <q-item clickable v-close-popup v-on:click="deleteRow(props.row)">
                    <q-item-section>Delete row</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-td>

            <q-td class='bg-grey-2' key="amountPerOne" v-bind:props="props">
              {{ props.row.amountPerOne }} {{ props.row.baseCurrency }}
              <q-menu
                context-menu
                touch-position>
                <q-list dense>
                  <q-item clickable v-close-popup v-on:click="deleteRow(props.row)">
                    <q-item-section>Delete row</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-td>

            <q-td class='bg-grey-2' key="valuation" v-bind:props="props">
              {{ props.row.valuation }} {{ props.row.baseCurrency }}
              <q-menu
                context-menu
                touch-position>
                <q-list dense>
                  <q-item clickable v-close-popup v-on:click="deleteRow(props.row)">
                    <q-item-section>Delete row</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-td>

            <q-td class='bg-grey-2' key="net" v-bind:props="props">
              {{ props.row.net }} {{ props.row.baseCurrency }}
              <q-menu
                context-menu
                touch-position>
                <q-list dense>
                  <q-item clickable v-close-popup v-on:click="deleteRow(props.row)">
                    <q-item-section>Delete row</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-td>

            <q-td class='bg-grey-2' key="irr" v-bind:props="props">
              {{ appendPctIfNumber(props.row.irr) }}
              <q-menu
                context-menu
                touch-position>
                <q-list dense>
                  <q-item clickable v-close-popup v-on:click="deleteRow(props.row)">
                    <q-item-section>Delete row</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-td>
          </q-tr>
        </template>
      </q-table>

      <div class="justify-center row" style="padding: 8px;">
        <q-btn
          glossy
          label="Start with an empty portfolio"
          v-if="transactions__.length > 0 && transactions__[0].isDemo"
          v-on:click="transactions__.splice(0)" />
      </div>
    </q-page>

    <q-dialog
      persistent
      v-model="dialogDeleteTransactionShown">

      <q-card>
        <q-card-section>
          <div class="text-h6">Confirm deletion of the transaction</div>
        </q-card-section>

        <q-card-section>
          <div>Date: <b>{{ deletedTransaction.date }}</b></div>
          <div>Base amount: <b>{{ deletedTransaction.baseAmount && deletedTransaction.baseAmount.toString() }}</b></div>
          <div>Base currency: <b>{{ deletedTransaction.baseCurrency }}</b></div>
          <div>Asset quantity: <b>{{ deletedTransaction.assetQuantity && deletedTransaction.assetQuantity.toString() }}</b></div>
          <div>Asset symbol: <b>{{ deletedTransaction.assetSymbol }}</b></div>
          <div v-if="deletedTransaction.note">Note: <b>{{ deletedTransaction.note }}</b></div>
        </q-card-section>

        <q-card-section>
          <span>Type the asset symbol below to confirm</span>
          <q-input
            v-bind:placeholder="deletedTransaction.assetSymbol"
            v-model="dialogDeleteTransactionValue"
            v-on:input="dialogDeleteTransactionOnInput"
            value="" />
        </q-card-section>

        <q-card-actions align="right">
          <q-btn
            glossy
            label="Delete"
            v-close-popup
            v-if="allowDeletion"
            v-on:click="dialogDeleteTransactionOnOk" />
          <q-btn
            glossy
            label="Keep"
            v-close-popup
            v-on:click="dialogDeleteTransactionOnCancel" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import compare from '../../core/compare'
import glyphs from '../../core/glyphs'

export default {
  data: function () {
    return {
      allowDeletion: false,

      columns: [
        {
          field: 'indexInTransactions',
          name: 'indexInTransactions'
        },
        {
          align: 'center',
          field: 'date',
          // format: val => `${val}`,
          label: 'Date', // 'Date on which the transaction occured'
          name: 'date',
          sortable: true
        },
        {
          align: 'right',
          field: 'baseAmount',
          label: `Amount`, // 'Amount spent to buy the asset (negative) or earned by selling the asset (positive)'
          name: 'baseAmount',
          sortable: true
        },
        {
          align: 'right',
          field: 'assetQuantity',
          label: 'Quantity', // 'Quantity of the asset bought (positive) or sold (negative)'
          name: 'assetQuantity',
          sortable: true
        },
        {
          align: 'center',
          field: 'assetSymbol',
          label: 'Symbol', // 'Asset symbol'
          name: 'assetSymbol',
          sortable: true
        },
        {
          align: 'left',
          field: 'note',
          label: 'Note', // 'Explanatory note'
          name: 'note',
          sortable: true
        },
        {
          align: 'right',
          field: 'amountPerOne',
          label: `Exchange price`, // 'Amount of one unit of the bougth asset'
          name: 'amountPerOne',
          sortable: true
        },
        {
          align: 'right',
          field: 'valuation',
          label: `Valuation`, // 'Valuation of quantity at present time'
          name: 'valuation',
          sortable: true
        },
        {
          align: 'right',
          field: 'net',
          label: `Net`, // 'Sum of base amount and present valuation'
          name: 'net',
          sortable: true
        },
        {
          align: 'right',
          field: 'irr',
          label: `IRR`, // 'Annual Internal Rate of Return assuming sell (or buy) of all the quantity at present time'
          name: 'irr',
          sortable: true
        }
      ],

      deletedTransaction: {},

      dialogDeleteTransactionShown: false,

      dialogDeleteTransactionValue: '',

      filter: '',

      firstSort: true,

      pagination: {
        descending:
          this.tableSortGet__('transactions')
            ? this.tableSortGet__('transactions')[0].sort === 'desc'
            : false,
        rowsPerPage: 15,
        sortBy:
          this.tableSortGet__('transactions')
            ? this.tableSortGet__('transactions')[0].colId
            : 'date'
      },

      tableName: 'transactions',

      visibleColumns: [
        'date',
        'baseAmount',
        'assetQuantity',
        'assetSymbol',
        'note',
        'amountPerOne',
        'valuation',
        'net',
        'irr'
      ]
    }
  },

  methods: {
    appendPctIfNumber: function (n) {
      const last = n.slice(-1)
      const nOrig = n
      if (last === 'K' || last === 'M' || last === 'B') {
        n = n.slice(0, -1)
      }
      return nOrig + ((!isNaN(parseFloat(n)) && isFinite(n)) || n === glyphs.ApproxZero ? '%' : '')
    },

    deleteRow: function (row) {
      this.allowDeletion = false
      this.deletedTransaction = row
      this.dialogDeleteTransactionValue = ''
      this.dialogDeleteTransactionShown = true
    },

    dialogDeleteTransactionOnCancel () {
      this.dialogDeleteTransactionShown = false
    },

    dialogDeleteTransactionOnInput (newVal) {
      this.allowDeletion = this.deletedTransaction.assetSymbol === newVal
    },

    dialogDeleteTransactionOnOk () {
      this.deleteTransaction__(this.deletedTransaction.indexInTransactions)
    },

    sortMethod: function (rows, sortBy, descending) {
      if (this.firstSort) {
        this.firstSort = false
      } else {
        this.tableSortSave__(
          this.tableName,
          [{ 'colId': sortBy, 'sort': descending ? 'desc' : 'asc' }]
        )
      }

      let compareFn
      switch (sortBy) {
        case 'indexInTransactions':
        case 'date':
        case 'assetSymbol':
        case 'note':
          compareFn = compare.strings
          break
        case 'baseAmount':
        case 'assetQuantity':
        case 'amountPerOne':
        case 'valuation':
        case 'net':
        case 'irr':
          compareFn = compare.formattedNumbers
          break
      }

      let compareSubFn = function (a, b, value, comparedBy) {
        if (value === 0) {
          // only if the previous comparison returns equal
          if (comparedBy !== 'date') {
            // only if the previous comparison was not by date then sort by date
            return compareSubFn(a, b, compare.byProperty(a, b, 'date'), 'date')
          } else {
            // only when it was sorted by date then sort by index
            return compare.byProperty(a, b, 'indexInTransactions')
          }
        }

        return value
      }

      return rows.sort((a, b) => compareSubFn(a, b, compareFn(a[sortBy], b[sortBy]), sortBy) *
        (descending ? -1 : 1))
    }
  },

  props: [
    'deleteTransaction__',
    'transactionsExtended__',
    'tableSortGet__',
    'tableSortSave__',
    'transactions__'
  ]
}
</script>

<style>
</style>
