<template>
  <q-page padding>
    <q-input
      placeholder="YYYY-MM-DD"
      label="Date"
      type="text"
      v-model="newTransaction__.date" />
    <q-input
      placeholder="-1000"
      label="Base amount"
      type="text"
      v-bind:suffix="transactions__.length > 0 ? transactions__[0].baseCurrency : ''"
      v-model="newTransaction__.baseAmount" />
    <q-input
      placeholder="EUR"
      label="Base currency"
      type="text"
      v-if="transactions__.length === 0"
      v-model="newTransaction__.baseCurrency" />
    <q-input
      placeholder="1"
      label="Asset quantity"
      type="text"
      v-model="newTransaction__.assetQuantity" />
    <q-input
      placeholder="BTC"
      label="Asset symbol"
      type="text"
      v-model="newTransaction__.assetSymbol" />
    <q-input
      placeholder="Buy BTC"
      label="Note"
      type="text"
      v-model="newTransaction__.note" />
    <q-btn
      glossy
      class="full-width"
      color="primary"
      label="add transaction"
      v-on:click.native="addTransaction__" />
  </q-page>
</template>

<script>
export default {
  props: [
    'addTransaction__',
    'newTransaction__',
    'transactions__'
  ]
}
</script>
