<template>
  <q-page padding>
    <q-tabs
      active-color="primary"
      align='justify'
      class="text-grey"
      indicator-color="primary"
      v-model="tab">
      <q-tab
        icon="fas fa-folder-open"
        label="Select local file from this device"
        name="tab-import-file" />
      <q-tab
        icon="fas fa-share-alt"
        label="Import from another device"
        name="tab-import-remote" />
    </q-tabs>

    <q-separator />

    <q-tab-panels animated v-model="tab">
      <q-tab-panel name="tab-import-file">
        <input id="import"
          ref="transactionsImport"
          style="display: none"
          type="file"
          v-on:change="importFromFile" />
        <q-btn
          glossy
          color="primary"
          label="Browse..."
          v-on:click.native="$refs.transactionsImport.click()" />
        <q-expansion-item icon="fas fa-code" label="Example JSON">
          <div>
            <pre><code>[
  {
    "date": "2017-01-20",
    "baseAmount": "-1000",
    "baseCurrency": "EUR",
    "assetQuantity": "1",
    "assetSymbol": "BTC",
    "note": "Buy BTC"
  },
  {
    "date": "2017-06-16",
    "baseAmount": "-1000",
    "baseCurrency": "EUR",
    "assetQuantity": "0.5",
    "assetSymbol": "BTC",
    "note": "Buy more BTC"
  },
  {
    "date": "2017-10-25",
    "baseAmount": "1000",
    "baseCurrency": "EUR",
    "assetQuantity": "-0.1",
    "assetSymbol": "BTC",
    "note": "Sell some of the BTC"
  }
]</code></pre>
          </div>
        </q-expansion-item>
        <q-expansion-item icon="fas fa-code" label="Example JSON">
          <div>
            <pre><code>2017-01-20,-1000,EUR,1,BTC,Buy BTC
2017-06-16,-1000,EUR,0.5,BTC,Buy more BTC
2017-10-25,1000,EUR,-0.1,BTC,Sell some of the BTC</code></pre>
          </div>
        </q-expansion-item>
      </q-tab-panel>

      <q-tab-panel name="tab-import-remote">
        <q-input
          label="MyFoli portfolio link"
          type="textarea"
          v-model="myfoliLink" />
        <q-btn
          color="primary"
          glossy
          label="download"
          v-bind:disable="downloading"
          v-bind:disabled="downloading"
          v-bind:loading="downloading"
          v-on:click.native="p2pDownload" />
        <q-btn
          color="primary"
          glossy
          label="cancel download"
          v-if="downloading"
          v-on:click.native="p2pDownloadCancel" />
      </q-tab-panel>
    </q-tab-panels>
  </q-page>
</template>

<script>
import P2p from '../p2p'
import crypto from '../crypto'
import util from '../util'

export default {
  data: function () {
    return {
      downloading: false,
      myfoliLink: '',
      p2p: null,
      tab: 'tab-import-file',
      uri: ''
    }
  },

  methods: {
    importFromFile: function () {
      const reader = new FileReader()
      const vm = this

      reader.onloadend = function () {
        vm.importTransactions__(this.result)
      }

      reader.readAsText(this.$refs.transactionsImport.files[0])
      // reader.readAsText(document.getElementById('import').files[0])
    },

    p2pDownload: function () {
      const l = util.myfoliLinkParse(this.myfoliLink)

      if (this.p2p === null) {
        this.p2p = new P2p(
          {
            error: msg => this.$q.notify(msg),
            info: msg => this.$q.notify(msg)
          },
          () => { this.downloading = false })
      }

      this.uri = l.uri
      this.downloading = true

      this.p2p.download(l.uri, async (downloadedContent) => {
        this.p2p.remove(l.uri)
        this.downloading = false
        const decrypted = await crypto.decrypt(downloadedContent, l.password)
        this.importTransactions__(decrypted)
      })
    },

    p2pDownloadCancel: function () {
      this.p2p.remove(this.uri)
      this.downloading = false
    }
  },

  props: [
    'importTransactions__'
  ]
}
</script>
