<template>
  <q-page padding>
    <q-btn
      color="primary"
      glossy
      label="Export to local file on this device"
      v-on:click.native="exportTransactionsToFile" />
    <br />
    <br />
    <q-btn
      color="primary"
      glossy
      label="Send to another device"
      v-on:click.native="p2pSeed" />
    <q-input
      label="MyFoli portfolio link"
      readonly
      type="textarea"
      v-if="uri"
      v-model="myfoliLink" />
    <q-btn
      color="primary"
      glossy
      label="Stop seeding"
      v-if="uri"
      v-on:click.native="p2pRemove" />
  </q-page>
</template>

<script>
import P2p from '../p2p'
import crypto from '../crypto'
import util from '../util'

export default {
  data: function () {
    return {
      exportTransactionsA: null,
      myfoliLink: null,
      p2p: null,
      uri: null
    }
  },

  methods: {
    exportTransactionsToFile: function () {
      const data = encodeURIComponent(JSON.stringify(this.transactions__, null, 2))
      const fileName = util.generatePortfolioFileName(this.portfolioName__)

      if (this.exportTransactionsA === null) {
        this.exportTransactionsA = document.createElement('a')
      }

      const a = this.exportTransactionsA
      a.setAttribute('href', 'data:application/octet-stream;charset=utf-8,' + data)
      a.setAttribute('download', fileName)
      if (document.createEvent) {
        const ev = document.createEvent('MouseEvents')
        ev.initEvent('click', true, true)
        a.dispatchEvent(ev)
      } else {
        a.click()
      }
    },

    p2pRemove: function () {
      this.p2p.remove(this.uri, () => { this.uri = null })
    },

    p2pSeed: async function () {
      const password = crypto.generatePassword()
      const encrypted = await crypto.encrypt(JSON.stringify(this.transactions__), password)

      if (this.p2p === null) {
        this.p2p = new P2p({
          error: msg => this.$q.notify(msg),
          info: msg => this.$q.notify(msg)
        })
      }

      this.p2p.seed(encrypted, 'portfolio.json', uri => {
        this.uri = uri
        this.myfoliLink = util.myfoliLinkCreate(uri, password)
      })
    }
  },

  props: [
    'portfolioName__',
    'transactions__'
  ]
}
</script>

<style>
</style>
