<template>
  <div id="q-app">
    <keep-alive>
      <router-view
        v-bind:addTransaction_="addTransaction"
        v-bind:debouncedDerive_="debouncedDerive"
        v-bind:deleteTransaction_="deleteTransaction"
        v-bind:exchangeRatesAsOf_="exchangeRatesAsOf"
        v-bind:importTransactions_="importTransactions"
        v-bind:newTransaction_="newTransaction"
        v-bind:portfolio_="portfolio"
        v-bind:portfolioName_="portfolioName"
        v-bind:privateAssets_="privateAssets"
        v-bind:significantDigitsSet_="significantDigitsSet"
        v-bind:significantDigits_="significantDigits"
        v-bind:shouldDisplayExchangeRatesAsOf_="shouldDisplayExchangeRatesAsOf"
        v-bind:summary_="summary"
        v-bind:tableSortGet_="tableSortGet"
        v-bind:tableSortSave_="tableSortSave"
        v-bind:transactionsExtended_="transactionsExtended"
        v-bind:transactions_="transactions"
        ></router-view>
    </keep-alive>
  </div>
</template>

<script>
export { default } from './App.js'
</script>

<style>
</style>
