<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">

    <link href="statics/mf_basic_128x128.png" rel="shortcut icon">
    <link href="statics/icons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="statics/icons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="statics/icons/icon-128x128.png" rel="icon" sizes="128x128" type="image/png">
    <link href="statics/icons/icon-192x192.png" rel="icon" sizes="192x192" type="image/png">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
