<template>
  <q-layout view="hhh LpR fFf">
    <q-header class="bg-primary" elevated>
      <q-toolbar class="glossy">
        <q-btn dense flat round icon="fas fa-bars" v-on:click="leftDrawerOpen = !leftDrawerOpen" />
        <q-toolbar-title
          v-cloak
          v-if="shouldDisplayExchangeRatesAsOf_()">

          <div>
            <span style="font-size: 0.7em">
              Exchange rates as of {{ exchangeRatesAsOf_.agoHumanReadable }}
              <q-tooltip>{{ exchangeRatesAsOf_.date }}</q-tooltip>
            </span>
            <q-icon
              name="fas fa-sync-alt"
              style="cursor: pointer; font-size: 0.5em"
              v-on:click.native="debouncedDerive_" />
          </div>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer content-class="bg-grey-2" v-model="leftDrawerOpen" side="left" elevated>
      <q-list no-border link inset-delimiter>
        <q-expansion-item
          caption="list of all transactions"
          icon="fas fa-exchange-alt"
          label="Transactions"
          to="/transactions"
          v-bind:content-inset-level="0.25">

          <q-list no-border link inset-delimiter>
            <q-item to="/transactions/add">
              <q-item-section avatar>
                <q-icon name="fas fa-plus" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Add transaction</q-item-label>
                <q-item-label caption>add a new transaction</q-item-label>
              </q-item-section>
            </q-item>

            <q-item to="/transactions/import">
              <q-item-section avatar>
                <q-icon name="fas fa-file-import" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Import</q-item-label>
                <q-item-label caption>import entire portfolio</q-item-label>
              </q-item-section>
            </q-item>

            <q-item to="/transactions/export">
              <q-item-section avatar>
                <q-icon name="fas fa-file-export" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Export</q-item-label>
                <q-item-label caption>export entire portfolio</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-expansion-item>

        <q-expansion-item
          caption="data grouped by assets"
          icon="fas fa-tags"
          label="Assets"
          to="/assets"
          v-bind:content-inset-level="0.25">

          <q-list no-border link inset-delimiter>
            <q-item to="/assets/private">
              <q-item-section avatar>
                <q-icon name="fas fa-tasks" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Private assets</q-item-label>
                <q-item-label caption>manage non-public assets</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-expansion-item>

        <q-item to="/calculator">
          <q-item-section avatar>
            <q-icon name="fas fa-calculator" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Calculator</q-item-label>
            <q-item-label caption>exchange calculator</q-item-label>
          </q-item-section>
        </q-item>

        <q-item to="/settings">
          <q-item-section avatar>
            <q-icon name="fas fa-sliders-h" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Settings</q-item-label>
            <q-item-label caption>tune behavior</q-item-label>
          </q-item-section>
        </q-item>

        <q-item to="/about">
          <q-item-section avatar>
            <q-icon name="fas fa-users" />
          </q-item-section>
          <q-item-section>
            <q-item-label>About</q-item-label>
            <q-item-label caption>details about this app</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <keep-alive>
        <router-view
          v-bind:addTransaction__="addTransaction_"
          v-bind:deleteTransaction__="deleteTransaction_"
          v-bind:importTransactions__="importTransactions_"
          v-bind:newTransaction__="newTransaction_"
          v-bind:portfolio__="portfolio_"
          v-bind:portfolioName__="portfolioName_"
          v-bind:privateAssets__="privateAssets_"
          v-bind:significantDigitsSet__="significantDigitsSet_"
          v-bind:significantDigits__="significantDigits_"
          v-bind:summary__="summary_"
          v-bind:tableSortGet__="tableSortGet_"
          v-bind:tableSortSave__="tableSortSave_"
          v-bind:transactionsExtended__="transactionsExtended_"
          v-bind:transactions__="transactions_"
          ></router-view>
      </keep-alive>
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  data () {
    return {
      leftDrawerOpen: false
    }
  },

  name: 'MyLayout',

  props: [
    'addTransaction_',
    'debouncedDerive_',
    'deleteTransaction_',
    'exchangeRatesAsOf_',
    'importTransactions_',
    'newTransaction_',
    'portfolio_',
    'portfolioName_',
    'privateAssets_',
    'shouldDisplayExchangeRatesAsOf_',
    'significantDigitsSet_',
    'significantDigits_',
    'summary_',
    'tableSortGet_',
    'tableSortSave_',
    'transactionsExtended_',
    'transactions_'
  ]
}
</script>
